@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 80vh;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.555),
    rgba(118, 224, 228, 0.7)
  );
  backdrop-filter: blur(2rem);
  display: flex;
  z-index: 2;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right bottom,
    rgba(13, 145, 150, 0.7),
    rgba(255, 255, 255, 0.849));
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.pic {
  width: 150px;
  height: 150px;
  border: solid black;
  border-radius: 75px;
  box-shadow: 0 1px 15px rgb(13, 117, 124);
  z-index: 1;
}

.name h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  text-shadow:0 0px 15px rgb(255, 255, 255);
  z-index: -1;
}

.linkholder  a {
  position: relative;
  display:inline-block;
  margin:2rem 0;
  width: 50px;
  height:50px;
  font-size: 24px;
  color: black;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 35px;
  text-shadow:0 0px 15px rgb(255, 255, 255);
}


.linkholder a:after{
  content:"";
  position: absolute;
  width: 50px;
  height: 50px;
  opacity:0; 
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, );
  text-decoration: none;
  z-index: -1;
}

.linkholder a:hover{
  color: #fff;
  transform:scale(1.5,1.5);
  text-shadow:0 5px 15px rgb(8, 132, 151);
}

.linkholder a:hover::after{
  opacity:1;
}

